---
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  var tags = [];
  allPosts.forEach((post) => {
    if (post.frontmatter.tags != undefined)
      tags = tags.concat(post.frontmatter.tags);
  });
  tags = [...new Set(tags)];

  const pages = tags.map((_tag) => {
    var filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags?.includes(_tag)
    );
    return { params: { tag: _tag }, props: { posts: filteredPosts } };
  });

  return pages;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}: {posts.length}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
