---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  var tags: string[] = [];
  allPosts.forEach((post) => {
    if (post.data.tags != undefined) tags = tags.concat(post.data.tags);
  });
  tags = [...new Set(tags)];

  const pages = tags.map((_tag) => {
    var filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(_tag)
    );
    return { params: { tag: _tag }, props: { posts: filteredPosts } };
  });

  return pages;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}: {posts.length}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
